body {
	font-family: Sans-Serif;
	text-align: center;
	vertical-align: center;
	margin:0em;
	background-color: #000000;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#wrapper {
	background-color: #FDFDFB;
	text-align: left;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: auto;
}

#contentarea {
	overflow: hidden;
	background-image: url('../furniture/atanytime.png');
	background-repeat: no-repeat;
	height: 468px;
}

.inactive {
	display: none;
}

.main.infosection {
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	padding: 50px 30px 10px 200px;
}

.main.infosection p {
	margin: 0em 0em 1em 0em;
}

h1 {
	background-color: #F3F6FB;
	color: #DADDE2;
	text-transform: capitalize;
	font-size: 48pt;
	margin: 0em;
	padding-top: 0.2em;
	padding-bottom: 0.1em;
}

#featurecanvas {
	float: left;
	margin-left: 270px;
	width: 468px;
	height: 468px;
}

#featureframe {
	width: 468px;
	height: 468px;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	overflow: hidden;
}

img.feature {
}

div.scrollcontainer {
	float: right;
/*	border: 1px blue solid;*/
	text-align: center;
	margin: 30px;
}

#thumbtable {
	position: relative;
	top: 0px;
}

div.navigation {
	background-color: #919598;
}

ul.navigation {
	background-color: #919598;
	margin: 0px;
	margin-left: 100px;
	overflow: hidden;
}

ul.navigation li {
/*	display: table-cell;*/
	list-style: none;
	float: left;
}

a.navigation {
	display: block;
	text-decoration: none;
	font-size: 0.75em;
	color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	text-transform: uppercase;
}

a.navigation:hover {
	color: #000000;
}

a.navigation:active {
	background-color: #000000;
	color: #FFFFFF;
}

a.selected {
	background-color: #000000;
	color: #FFFFFF;
}

a.selected:hover {
	color: #FFFFFF;
}


div#scrollarea {
	height: 350px;
	overflow: hidden;
}

#scrollup {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	width: 125px;
	height: 20px;
	background-image: url('../images/uparrow.png');
	background-color: #919598;
	background-repeat: no-repeat;
	background-position: center center;
}

#scrolldown {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	width: 125px;
	height: 20px;
	background-image: url('../images/downarrow.png');
	background-color: #919598;
	background-repeat: no-repeat;
	background-position: center center;
}